/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/azure-blue.css';

// Import library styles directly from source for the demo
@import '../../forms-engine/src/lib/styles/form-theme.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}